@media (max-width: 991px) {
  .always-show .mega > .mega-dropdown-menu,
  .always-show .dropdown-menu {
    display: block !important;
    position: static;
  }
  .open .dropdown-menu {
    display: block;
  }
}
.t3-logo,
.t3-logo-small {
  display: block;
  text-decoration: none;
  text-align: right;
  background-repeat: no-repeat;
  background-position: center;
}
.t3-logo {
  width: 182px;
  height: 50px;
}
.t3-logo-small {
  width: 60px;
  height: 30px;
}
.t3-logo,
.t3-logo-color {
  background-image: url("//static.joomlart.com/images/jat3v3-documents/logo-complete/t3logo-big-color.png");
}
.t3-logo-small,
.t3-logo-small.t3-logo-color {
  background-image: url("//static.joomlart.com/images/jat3v3-documents/logo-complete/t3logo-small-color.png");
}
.t3-logo-dark {
  background-image: url("//static.joomlart.com/images/jat3v3-documents/logo-complete/t3logo-big-dark.png");
}
.t3-logo-small.t3-logo-dark {
  background-image: url("//static.joomlart.com/images/jat3v3-documents/logo-complete/t3logo-small-dark.png");
}
.t3-logo-light {
  background-image: url("//static.joomlart.com/images/jat3v3-documents/logo-complete/t3logo-big-light.png");
}
.t3-logo-small.t3-logo-light {
  background-image: url("//static.joomlart.com/images/jat3v3-documents/logo-complete/t3logo-small-light.png");
}
@media (max-width: 991px) {
  .logo-control .logo-img-sm {
    display: block;
  }
  .logo-control .logo-img {
    display: none;
  }
}
@media (min-width: 992px) {
  .logo-control .logo-img-sm {
    display: none;
  }
  .logo-control .logo-img {
    display: block;
  }
}
#community-wrap .collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  display: block;
}
.body-data-holder:before {
  display: none;
  content: "grid-float-breakpoint:992px screen-xs:480px screen-sm:768px screen-md:992px screen-lg:1200px";
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #cc0000;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #800000;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
th,
td {
  line-height: 1.42857143;
  text-align: right;
  vertical-align: top;
}
th {
  font-weight: bold;
}
td,
tr td {
  border-top: 1px solid #dddddd;
}
.cat-list-row0:hover,
.cat-list-row1:hover {
  background: #f5f5f5;
}
.cat-list-row1,
tr.cat-list-row1 td {
  background: #f9f9f9;
}
table.contentpane,
table.tablelist,
table.category,
table.admintable,
table.blog {
  width: 100%;
}
table.contentpaneopen {
  border: 0;
}
.star {
  color: #ffcc00;
}
.red {
  color: #cc0000;
}
hr {
  margin-top: 18px;
  margin-bottom: 18px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.wrap {
  width: auto;
  clear: both;
}
.center,
.table td.center,
.table th.center {
  text-align: center;
}
.element-invisible {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 18px;
  margin-bottom: 9px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 9px;
  margin-bottom: 9px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 33px;
}
h2,
.h2 {
  font-size: 27px;
}
h3,
.h3 {
  font-size: 23px;
}
h4,
.h4 {
  font-size: 17px;
}
h5,
.h5 {
  font-size: 13px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 9px;
}
.lead {
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 19.5px;
  }
}
small,
.small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
.text-left {
  text-align: right;
}
.text-right {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-muted {
  color: #999999;
}
.text-primary {
  color: #cc0000;
}
a.text-primary:hover {
  color: #990000;
}
.text-success {
  color: #468847;
}
a.text-success:hover {
  color: #356635;
}
.text-info {
  color: #3a87ad;
}
a.text-info:hover {
  color: #2d6987;
}
.text-warning {
  color: #c09853;
}
a.text-warning:hover {
  color: #a47e3c;
}
.text-danger {
  color: #b94a48;
}
a.text-danger:hover {
  color: #953b39;
}
.bg-primary {
  color: #fff;
  background-color: #cc0000;
}
a.bg-primary:hover {
  background-color: #990000;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.highlight {
  background-color: #FFC;
  font-weight: bold;
  padding: 1px 4px;
}
.page-header {
  padding-bottom: 8px;
  margin: 36px 0 18px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 9px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-right: 0;
  list-style: none;
}
.list-inline {
  padding-right: 0;
  list-style: none;
  margin-right: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 18px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-right: 0;
}
@media (min-width: 992px) {
  .dl-horizontal dt {
    float: right;
    width: 160px;
    clear: right;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-right: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 9px 18px;
  margin: 0 0 18px;
  font-size: 16.25px;
  border-right: 5px solid #eeeeee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #999999;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-left: 15px;
  padding-right: 0;
  border-left: 5px solid #eeeeee;
  border-right: 0;
  text-align: left;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
blockquote:before,
blockquote:after {
  content: "";
}
address {
  margin-bottom: 18px;
  font-style: normal;
  line-height: 1.42857143;
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.btn-actions {
  text-align: center;
}
.features-list {
  margin-top: 54px;
  
}
.features-list .page-header {
  border: 0;
  text-align: center;
}
.features-list .page-header h1 {
  font-size: 45px;
}
.features-list .feature-row {
  overflow: hidden;
  min-height: 200px;
  color: #696f72;
  border-top: 1px solid #e0e2e3;
  padding: 54px 0 0;
  text-align: center;
}
.features-list .feature-row:last-child {
  border-bottom: 1px solid #e0e2e3;
  margin-bottom: 54px;
}
.features-list .feature-row h3 {
  font-size: 26px;
}
.features-list .feature-row div:first-child {
  padding-right: 0;
}
.features-list .feature-row div:last-child {
  padding-left: 0;
}
.features-list .feature-row div:first-child.feature-img img {
  float: right;
}
.features-list .feature-row div:last-child.feature-img img {
  float: left;
}
.jumbotron h2 {
  font-size: 45px;
}
.jumbotron iframe {
  margin-top: 18px;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 18px;
}
.radio label,
.checkbox label {
  display: inline;
}
.form-control-static {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
  }
  .form-inline .form-control {
    display: inline-block;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
  }
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .form-control-static {
  padding-top: 7px;
}
.btn-inverse {
  color: #ffffff;
  background-color: #333333;
  border-color: #262626;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #1a1a1a;
  border-color: #080808;
}
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  background-image: none;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled.focus,
.btn-inverse[disabled].focus,
fieldset[disabled] .btn-inverse.focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #333333;
  border-color: #262626;
}
.btn-inverse .badge {
  color: #333333;
  background-color: #ffffff;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.inputbox {
  height: 34px;
  display: inline-block;
}
select::-moz-placeholder,
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
.inputbox::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
.inputbox:-ms-input-placeholder {
  color: #999999;
}
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
.inputbox::-webkit-input-placeholder {
  color: #999999;
}
textareaselect,
textareatextarea,
textareainput[type="text"],
textareainput[type="password"],
textareainput[type="datetime"],
textareainput[type="datetime-local"],
textareainput[type="date"],
textareainput[type="month"],
textareainput[type="time"],
textareainput[type="week"],
textareainput[type="number"],
textareainput[type="email"],
textareainput[type="url"],
textareainput[type="search"],
textareainput[type="tel"],
textareainput[type="color"],
textarea.inputbox {
  height: auto;
}
@media screen and (min-width: 768px) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .inputbox {
    width: 100%;
  }
}
select,
select.form-control,
select.inputbox,
select.input {
  padding-left: 5px;
}
.input-append .active,
.input-prepend .active {
  background-color: #bbff33;
  border-color: #669900;
}
.invalid {
  border-color: #cc0000;
}
label.invalid {
  color: #cc0000;
}
input.invalid {
  border: 1px solid #cc0000;
}

.dropdown-menu > li > a {
  padding: 5px 20px;
}
.dropdown-header {
  padding: 3px 20px;
  font-size: 13px;
}
.dropdown-header a {
  color: #999999;
}
.dropdown-submenu > a:after {
  border-right-color: #333333;
}
.dropdown-submenu:hover > a:after {
  border-right-color: #262626;
}
.nav > li > .separator {
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 18px;
}
@media (min-width: 992px) {
  .nav > li > .separator {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (max-width: 991px) {
  .nav > li > span {
    padding: 10px 15px;
    display: inline-block;
  }
}
.nav .caret {
  border-top-color: #cc0000;
  border-bottom-color: #cc0000;
}
.nav a:hover .caret {
  border-top-color: #800000;
  border-bottom-color: #800000;
}
.t3-navhelper {
  background: #f5f5f5;
  border-top: 1px solid #eeeeee;
  color: #666666;
  padding: 5px 0;
}
.breadcrumb {
  background: none repeat scroll 100% 0 transparent;
  font-size: 14px;
  margin: 0;
  padding: 25px 15px 30px;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #999999;
}
.breadcrumb > .active + li:before {
  content: "";
  padding: 0;
}
.breadcrumb > .active .hasTooltip {
  padding-left: 9px;
}
.breadcrumb .divider {
  display: none;
}
.pagination {
  display: block;
}
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}
.pagination:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .pagination {
    float: right;
  }
}
.pagination .pagination {
  display: inline-block;
}
.counter {
  display: inline-block;
  margin-top: 18px;
  padding: 6px 12px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0;
}
@media screen and (min-width: 768px) {
  .counter {
    float: left;
  }
}

.navbar-toggle {
  padding: 0;
  height: 35px;
  line-height: 35px;
  width: 35px;
  margin-right: 10px;
}
@media (min-width: 992px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 8px -10px;
}
@media (min-width: 992px) {
  .navbar-nav {
    margin: 0;
  }
}
.navbar-default {
  background: #ffffff;
  border-color: #eeeeee;
}
.navbar-default .navbar-brand {
  float: none;
  padding: 0 15px 0 20px;
  color: #777777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777777;
}
.navbar-default .navbar-nav > li > a {
  color: #777777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #75c5cf;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > .nav-header {
  color: #777777;
  display: inline-block;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #75c5cf;
  background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #75c5cf;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #eeeeee;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #75c5cf;
  border-bottom-color: #75c5cf;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #75c5cf;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #75c5cf;
  border-bottom-color: #75c5cf;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #75c5cf;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #75c5cf;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #75c5cf;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777777;
}
.navbar-default .navbar-link:hover {
  color: #75c5cf;
}
.t3-mainnav {
  border: 0 none;
  margin-bottom: 0;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  top: 30px;
}
.t3-mainnav .t3-navbar {
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 992px) {
  .t3-mainnav .t3-navbar-collapse {
    display: none !important;
  }
}
.t3-mainnav .t3-navbar-collapse .navbar-nav {
  margin: 0 -10px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav li > a .fa {
  margin-left: 5px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li > a {
  border-top: 1px solid #eeeeee;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li:first-child > a {
  border-top: 0;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .dropdown > a .caret {
  position: absolute;
  top: 40%;
  left: 12px;
}

.t3-module {
  background: #f2f2f2;
  color: inherit;
  border: 1px solid #cccccc;
  margin-bottom: 18px;
  padding: 10px;
  -webkit-box-shadow: 0 3px 3px #cccccc;
  -moz-box-shadow: 0 3px 3px #cccccc;
  box-shadow: 0 3px 3px #cccccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
@media screen and (min-width: 768px) {
  .t3-module {
    margin-bottom: 36px;
  }
}
.t3-module .module-inner {
  padding: 0;
}
.module-title {
  background: #f2f2f2;
  color: inherit;
  font-size: 17px;
  margin: 0 0 9px 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .module-title {
    margin-bottom: 18px;
  }
}
.module-ct {
  background: #f2f2f2;
  color: inherit;
  padding: 0;
}
.module-ct:before,
.module-ct:after {
  content: " ";
  display: table;
}
.module-ct:after {
  clear: both;
}
.module-ct > ul,
.module-ct .custom > ul,
.module-ct > ol,
.module-ct .custom > ol {
  margin-right: 20px;
  padding-right: 0;
}
.module-ct > ul.unstyled,
.module-ct .custom > ul.unstyled,
.module-ct > ol.unstyled,
.module-ct .custom > ol.unstyled {
  padding-right: 0;
}
.module-ct > ul.nav,
.module-ct .custom > ul.nav,
.module-ct > ol.nav,
.module-ct .custom > ol.nav {
  padding-right: 0;
  margin-right: 0;
}
.t3-module.module_sidesearch {
  padding: 0 15px 15px;
}
.module_sidesearch .module-title {
  background: none repeat scroll 100% 0 #75c5cf;
  color: #fff;
  font-size: 24px;
  line-height: 70px;
  margin: 0 -15px 9px;
  min-height: 70px;
  padding: 0;
  text-align: center;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
}
.module_menu .nav > li > a,
.module_menu .nav > li > .separator {
  padding: 6px 5px;
  display: block;
}
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
}
#login-form ul.unstyled {
  margin-top: 18px;
  padding-right: 20px;
}
#login-form #form-login-remember label {
  font-weight: normal;
}
.banneritem a {
  font-weight: bold;
}
.bannerfooter {
  border-top: 1px solid #eeeeee;
  font-size: 11px;
  padding-top: 9px;
  text-align: left;
}
.categories-module,
ul.categories-module,
.category-module,
ul.category-module {
  margin: 0;
}
.categories-module li,
ul.categories-module li,
.category-module li,
ul.category-module li {
  list-style: none;
  padding: 9px 0;
  border-top: 1px solid #eeeeee;
}
.categories-module li:first-child,
ul.categories-module li:first-child,
.category-module li:first-child,
ul.category-module li:first-child {
  border-top: 0;
}
.categories-module h4,
ul.categories-module h4,
.category-module h4,
ul.category-module h4 {
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.feed h4 {
  font-weight: bold;
}
.feed .newsfeed,
.feed ul.newsfeed {
  border-top: 1px solid #eeeeee;
}
.feed .newsfeed .feed-link,
.feed ul.newsfeed .feed-link,
.feed .newsfeed h5.feed-link,
.feed ul.newsfeed h5.feed-link {
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.latestusers,
ul.latestusers {
  margin-right: 0;
}
.latestusers li,
ul.latestusers li {
  background: #eeeeee;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 0;
}
.stats-module dt,
.stats-module dd {
  display: inline-block;
  margin: 0;
}
.stats-module dt {
  font-weight: bold;
  width: 35%;
}
.stats-module dd {
  width: 60%;
}
.tagspopular ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.tagspopular ul > li {
  color: #666666;
  display: inline-block;
  margin: 0 0 5px 5px;
}
.tagspopular ul > li > a {
  background: #eeeeee;
  border-radius: 3px;
  color: #666666;
  display: block;
  padding: 2px 5px;
}
.tagspopular ul > li > a:hover,
.tagspopular ul > li > a:focus,
.tagspopular ul > li > a:active {
  background: #800000;
  color: #ffffff;
  text-decoration: none;
}
.tagssimilar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tagssimilar ul > li {
  border-bottom: 1px solid #eeeeee;
  padding: 8px 0;
}
.tagssimilar ul > li > a {
  color: #666666;
}
.tagssimilar ul > li > a:hover,
.tagssimilar ul > li > a:focus,
.tagssimilar ul > li > a:active {
  color: #800000;
}
.module-ct > ol.breadcrumb {
  padding: 6px 12px;
  margin-right: 0;
}

.items-leading .leading {
  margin-bottom: 36px;
}
.items-row .item {
  margin-bottom: 36px;
}
.divider-vertical {
  margin: 0 0 36px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.article-aside {
  color: #999999;
  font-size: 12px;
  margin-bottom: 18px;
}
.article-info {
  margin: 0;
  width: 85%;
}
.article-info .article-info-term {
  display: none;
}
.article-info dd {
  display: inline-block;
  margin-right: 0;
  margin-left: 10px;
  white-space: nowrap;
}
.article-info dd strong {
  font-weight: bold;
}
.article-footer {
  color: #999999;
  font-size: 12px;
  margin-bottom: 18px;
}
.article-intro img,
.article-content img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
.article-intro img[align=left],
.article-content img[align=left],
.article-intro .img_caption.left,
.article-content .img_caption.left,
.article-intro .pull-left.item-image,
.article-content .pull-left.item-image {
  margin: 0 0 18px 27px;
}
.article-intro img[align=right],
.article-content img[align=right],
.article-intro .img_caption.right,
.article-content .img_caption.right,
.article-intro .pull-right.item-image,
.article-content .pull-right.item-image {
  margin: 0 27px 18px 0;
}
@media (max-width: 768px) {
  .article-content iframe {
    width: 100% !important;
    height: auto;
  }
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  position: relative;
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  margin-bottom: 18px;
  max-width: 100%;
}
.img-fulltext-left {
  float: right;
  margin-left: 18px;
}
.img-fulltext-right {
  float: left;
  margin-right: 18px;
}
.img-intro-none img,
.img-intro-left img,
.img-intro-right img,
.img-fulltext-none img,
.img-fulltext-left img,
.img-fulltext-right img {
  margin: 0;
}
.img_caption img {
  margin-bottom: 1px !important;
}
.img_caption p.img_caption {
  background: #eeeeee;
  color: #666666;
  font-size: 12px;
  width: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
  clear: both;
}
@media screen and (max-width: 767px) {
  article img[align=left],
  .img_caption.left,
  article img[align=right],
  .img_caption.right,
  .img-fulltext-left,
  .img-fulltext-right {
    float: none !important;
    margin-right: 0;
    margin-left: 0;
    width: 100% !important;
  }
}
article aside .btn-group > .dropdown-toggle,
article aside .btn-group > .dropdown-toggle:hover,
article aside .btn-group > .dropdown-toggle:active,
article aside .btn-group > .dropdown-toggle:focus {
  padding: 2px 5px;
}
article aside .btn-group > .dropdown-toggle .caret {
  margin-right: 2px;
}
.row-even,
.row-odd {
  padding: 5px;
  width: 99%;
  border-bottom: 1px solid #dddddd;
}
.row-odd {
  background-color: transparent;
}
.row-even {
  background-color: #f9f9f9;
}
.blog-row-rule,
.blog-item-rule {
  border: 0;
}
.row-fluid .row-reveal {
  visibility: hidden;
}
.row-fluid:hover .row-reveal {
  visibility: visible;
}
.nav-list > li.offset > a {
  padding-right: 30px;
  font-size: 12px;
}
.list-striped,
.row-striped {
  list-style: none;
  line-height: 18px;
  text-align: right;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
  margin-right: 0;
  padding-right: 0;
}
.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {
  border-bottom: 1px solid #dddddd;
  padding: 10px 15px;
}
.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd) {
  background-color: #f9f9f9;
}
.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover {
  background-color: #f5f5f5;
}
.row-striped .row-fluid {
  width: 97%;
}
.row-striped .row-fluid [class*="span"] {
  min-height: 10px;
}
.row-striped .row-fluid [class*="span"] {
  margin-right: 8px;
}
.row-striped .row-fluid [class*="span"]:first-child {
  margin-right: 0;
}
.list-condensed li {
  padding: 5px 10px;
}
.row-condensed .row,
.row-condensed .row-fluid {
  padding: 5px 10px;
}
.list-bordered,
.row-bordered {
  list-style: none;
  line-height: 18px;
  text-align: right;
  vertical-align: middle;
  margin-right: 0;
  border: 1px solid #dddddd;
}
.login-wrap .other-links ul {
  padding-right: 10px;
}
.form-register fieldset {
  padding: 0 0 10px;
}
.form-register p {
  margin: 0 0 5px;
}
.form-register p.form-des {
  margin: 15px 0;
}
.form-register label {
  display: block;
  float: right;
  font-weight: bold;
  text-align: left;
  width: 130px;
}
.form-register .input,
.form-register .inputbox {
  margin-right: 10px;
  width: 200px;
}
.form-register .btn,
.form-register .button {
  margin-right: 140px;
}
.registration fieldset dt {
  margin-left: 5px;
}
.admintable textarea {
  max-width: 90% !important;
  resize: none;
}
.com_mailto body {
  padding: 9px;
}
.com_mailto .t3-mainbody {
  padding-top: 0;
  padding-bottom: 0;
}
.com_mailto .t3-content {
  width: auto;
}
#mailto-window {
  background: #fff;
  margin: 10px 0 20px;
  padding: 0;
  position: relative;
}
#mailto-window h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
#mailtoForm .formelm {
  padding: 5px 0;
  vertical-align: middle;
  overflow: hidden;
}
#mailtoForm .formelm label {
  display: inline-block;
  float: right;
  font-weight: bold;
  vertical-align: middle;
  width: 100px;
}
#mailtoForm p {
  margin-top: 20px;
}
#mailtoForm .input,
#mailtoForm .inputbox {
  width: 65%;
}
#mailtoForm .btn,
#mailtoForm .button,
#mailtoForm button {
  margin-left: 5px;
}
.user-details {
  padding: 10px 0;
}
.user-details p {
  margin: 0 0 5px;
}
.user-details label {
  display: block;
  float: right;
  font-weight: bold;
  text-align: left;
  width: 130px;
}
.user-details .input,
.user-details .inputbox {
  margin-right: 10px;
  width: 200px;
}
.user-details .btn,
.user-details button {
  margin-right: 140px;
}
.user-details .paramlist .paramlist_key {
  padding: 0 0 5px;
  width: 130px;
}
.user-details .paramlist .paramlist_value {
  padding: 0 0 5px;
}
.user-details .user_name span {
  font-weight: bold;
  padding-right: 10px;
}
.reset .form-validate p,
.remind .form-validate p {
  background: #eeeeee;
  border: 1px solid #eeeeee;
  margin-bottom: 18px;
  padding: 9px 18px;
  border-radius: 0;
}
.reset .form-validate fieldset dl,
.remind .form-validate fieldset dl {
  margin: 0;
}
.reset .form-validate fieldset dt,
.remind .form-validate fieldset dt {
  margin: 4px 0 0 0;
}
.profile-edit input {
  position: relative;
  min-height: 1px;
  padding-right: 6px;
  padding-left: 6px;
}
@media (min-width: 768px) {
  .profile-edit input {
    float: right;
    width: 50%;
  }
}
.profile-edit select {
  position: relative;
  min-height: 1px;
  padding-right: 6px;
  padding-left: 6px;
}
@media (min-width: 768px) {
  .profile-edit select {
    float: right;
    width: 50%;
  }
}
.profile-edit select + button {
  margin-right: 5px;
}
#searchForm:before,
#searchForm:after {
  content: " ";
  display: table;
}
#searchForm:after {
  clear: both;
}
#searchForm fieldset {
  margin: 18px 0;
}
#searchForm legend {
  margin-bottom: 9px;
}
#searchForm select {
  width: auto;
  display: inline-block;
  margin-right: 5px;
  padding-right: 5px;
}
#searchForm .form-limit {
  margin-top: 18px;
}
#searchForm .form-limit .counter {
  margin-top: 0;
}
#search-form ul#finder-filter-select-list {
  margin-right: 0;
  padding-right: 0;
}
#search-form ul#finder-filter-select-list li {
  list-style: none;
  padding: 9px 0;
}
#search-form ul#finder-filter-select-list li label {
  width: 150px;
}
#search-form .word .form-group {
  margin-bottom: 9px;
}
@media screen and (max-width: 768px) {
  #searchForm .radio-inline,
  #searchForm .checkbox-inline {
    display: block;
    width: 100%;
    margin-right: 0;
  }
}
.search-results {
  margin-top: 18px;
  margin-right: 0;
  padding-right: 0;
}
.search-results .result-title {
  font-size: 15px;
  margin-top: 18px;
}
.search-results .result-category {
  font-size: 11px;
  color: #999999;
}
.search-results .result-text {
  margin-top: 5px;
  margin-bottom: 5px;
}
.search-results .result-url {
  color: #666666;
  margin-top: 18px;
}
.search-results .result-created {
  font-size: 11px;
  color: #999999;
}
div.finder {
  margin-bottom: 18px;
}
#searchForm .phrases-box input[type="radio"] {
  vertical-align: top;
  margin-top: 3px;
}
@media (max-width: 768px) {
  .contact .thumbnail {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contact .dl-horizontal > dt {
    float: right;
    margin-left: 5px;
    width: auto;
  }
}
@media (max-width: 768px) {
  .contact .dl-horizontal > dd {
    margin-right: 0;
  }
}
.contact-form #jform_contact_emailmsg {
  width: 100%;
}
.contact-form #jform_contact_message {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .contact-form #jform_captcha-lbl {
    display: none;
  }
  .contact-form #recaptcha_image {
    width: 220px;
  }
  .contact-form #recaptcha_image img {
    max-width: 220px;
  }
  .contact-form #recaptcha_response_field {
    max-width: 220px;
  }
}
.contact .accordion-toggle {
  font-weight: bold;
}
#archive-items > li {
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
}
#archive-items .intro {
  clear: both;
  overflow: hidden;
}
.categories-list {
  margin-bottom: 18px;
}
.category-item:before,
.category-item:after {
  content: " ";
  display: table;
}
.category-item:after {
  clear: both;
}
.category-item .page-header {
  line-height: normal;
  padding: 9px 5px;
  margin: 0;
  font-size: 17px;
  font-weight: normal;
}
.category-item .category-item {
  margin-bottom: 0;
  margin-right: 20px;
}
.category-item .category-item .page-header {
  font-size: 13px;
}
.cat-children .page-header {
  line-height: normal;
  padding: 9px 5px;
  margin: 0;
  font-size: 17px;
  font-weight: normal;
}
.newsfeed-category > h2,
.newsfeed > h2 {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 18px;
  margin-bottom: 18px;
  margin-top: 0;
}
.newsfeed-category .category-desc,
.newsfeed .category-desc {
  margin-bottom: 18px;
}
.newsfeed-category .category li:before,
.newsfeed .category li:before,
.newsfeed-category .category li:after,
.newsfeed .category li:after {
  content: " ";
  display: table;
}
.newsfeed-category .category li:after,
.newsfeed .category li:after {
  clear: both;
}
.newsfeed > h2 {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 18px;
  margin-bottom: 18px;
  margin-top: 0;
}
.newsfeed .feed-description {
  margin-bottom: 18px;
  font-size: 15px;
}
.newsfeed .feed-item-description .feed-description {
  font-size: 13px;
}
.newsfeed ol li > a {
  font-weight: bold;
  font-size: 15px;
}
.article-content .pagination ul {
  display: block;
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.article-content .pagination ul li {
  border: 1px solid #eeeeee;
  float: right;
  line-height: normal;
  margin-left: 9px;
  padding: 9px 18px;
}
.article-content .pagination ul li a {
  border: 0;
  text-decoration: none;
  background-color: transparent;
  line-height: normal;
  padding: 0;
}
.pagenavcounter {
  margin: 0 0 18px;
  font-weight: bold;
}
#article-index,
.article-index {
  border: 1px solid #eeeeee;
  border-radius: 0;
  float: left;
  padding: 10px;
  margin: 0 18px 18px 0;
  width: 25%;
}
#article-index ul,
.article-index ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#article-index ul > li,
.article-index ul > li {
  border: 0;
  margin-top: 2px;
}
#article-index ul > li > a,
.article-index ul > li > a {
  border: 0;
  padding: 5px;
  border-radius: 0;
}
#article-index ul > .active > a,
.article-index ul > .active > a {
  border: 0;
  background: #cc0000;
  color: #ffffff;
}
#article-index ul > .active > a:hover,
.article-index ul > .active > a:hover,
#article-index ul > .active > a:active,
.article-index ul > .active > a:active,
#article-index ul > .active > a:focus,
.article-index ul > .active > a:focus {
  border: 0;
  background: #cc0000;
  color: #ffffff;
}
.pagenav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagenav > li {
  margin: 0;
  padding: 0;
  float: right;
}
.pagenav > li.pagenav-prev,
.pagenav > li.previous {
  margin-left: 10px;
}
.pagenav li > a {
  padding: 9px 18px;
  line-height: normal;
  border: 1px solid #dddddd;
  border-radius: 0;
}
.pagenav li > a:hover,
.pagenav li > a:active,
.pagenav li > a:focus {
  background-color: #eeeeee;
}
.items-more h3 {
  margin: 0 0 18px;
}
.items-more .nav > li {
  border-top: 1px solid #eeeeee;
}
.items-more .nav > li > a {
  padding: 6px 5px;
}
.back_button a {
  display: block;
  margin: 10px 0;
}
.filters {
  margin: 9px 0;
}
.display-limit {
  margin: 9px 0 5px;
}
.filters .display-limit {
  float: left;
  text-align: left;
}
#system-message dt {
  font-weight: bold;
}
#system-message dd {
  font-weight: bold;
}
#system-message dd.message ul,
#system-message dd.error ul,
#system-message dd.notice ul {
  margin: 0;
  padding: 0;
}
#system-message dd.message ul li,
#system-message dd.error ul li,
#system-message dd.notice ul li {
  background: none;
  margin: 0;
  padding: 5px;
}
.alert-message {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-message hr {
  border-top-color: #c9e2b3;
}
.alert-message .alert-link {
  color: #356635;
}
.alert-notice {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-notice hr {
  border-top-color: #a6e1ec;
}
.alert-notice .alert-link {
  color: #2d6987;
}
.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #b94a48;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #953b39;
}
.tip-wrap {
  background: #fff6df;
  border: 1px solid #fb3;
  border-radius: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  max-width: 300px;
  z-index: 999;
}
.tip-title {
  border-bottom: 1px solid #fb3;
  font-weight: bold;
  padding: 5px 10px;
}
.tip-text {
  font-size: 13px;
  margin: 0;
  padding: 5px 10px;
}
.hasTip img {
  border: none;
  margin: 0 0 0 5px;
}
@media (min-width: 768px) {
  .languageswitcherload {
    float: left;
    width: 100%;
  }
  .languageswitcherload .mod-languages {
    text-align: left;
  }
}
div.calendar {
  width: 187px;
}
.edit.item-page fieldset .btn-toolbar {
  margin-top: 9px;
}
.edit.item-page .chzn-container-multi .chzn-choices li.search-field input[type="text"] {
  height: auto;
}
.iframe-bordered {
  border: 1px solid #dddddd;
}
.chzn-container {
  display: block;
}
.chzn-container-single .chzn-single,
.chzn-container-multi .chzn-choices .search-field input,
.chzn-container-single .chzn-search input {
  height: 26px;
}
.chzn-container-single .chzn-drop,
.chzn-container .chzn-drop {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.input-prepend .chzn-container-single .chzn-single {
  border-color: #cccccc;
  height: 26px;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.input-prepend .chzn-container-active .chzn-single-with-drop {
  border-radius: 3px 0 0 0;
}
.input-prepend .chzn-container-single .chzn-drop {
  border-color: #cccccc;
}
.btn-group .chzn-results {
  white-space: normal;
}

.page-header {
  padding-bottom: 8px;
  margin: 0 0 18px;
  border-bottom: 1px solid #eeeeee;
}
.page-title,
.page-header h1 {
  line-height: 1;
  margin: 0;
}
.page-subheader {
  border-bottom: 1px solid #eeeeee;
  margin: 0 0 18px;
}
.page-subheader:before,
.page-subheader:after {
  content: " ";
  display: table;
}
.page-subheader:after {
  clear: both;
}
.page-subtitle,
.page-subheader h2 {
  line-height: 1;
  margin: 0;
}
.page-header + .page-subheader {
  margin-top: -18px;
}
.article-title,
.article-header h1 {
  margin: 0 0 18px 0;
}
.item-title {
  font-weight: bold;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron h3 {
  margin-top: 0;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.container .jumbotron {
  border-radius: 0;
}
.masthead {
  padding: 36px 0;
  text-align: center;
}
.masthead p:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  .masthead {
    padding: 72px 0;
  }
  .masthead h1 {
    font-size: 91px;
  }
  .masthead p {
    font-size: 26px;
  }
  .masthead .btn-lg {
    margin-top: 18px;
    padding: 18px 42px;
    font-size: 19.5px;
  }
}
.jumbotron-primary {
  background-color: #cc0000;
  color: #ffcccc;
}
.jumbotron-primary h1,
.jumbotron-primary h2,
.jumbotron-primary h3 {
  color: #ffffff;
}
.jumbotron-primary p {
  color: #ffffff;
}
.jumbotron-primary .btn-primary {
  border-color: #fff;
}
.label:empty {
  display: none;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.page-header .label,
.page-header .badge {
  vertical-align: middle;
}
.alert h4 {
  color: inherit;
}
.media:first-child {
  margin-top: 0;
}
.media-object {
  display: block;
}
.media-heading {
  margin: 0 0 5px;
}
.media > .pull-left {
  margin-left: 10px;
}
.media > .pull-right {
  margin-right: 10px;
}
.list-group-item > .badge {
  float: left;
}
.list-group-item > .badge + .badge {
  margin-left: 5px;
}
a.list-group-item.active .list-group-item-heading,
a.list-group-item.active:hover .list-group-item-heading,
a.list-group-item.active:focus .list-group-item-heading {
  color: inherit;
}
a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
  color: #ff9999;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title > a {
  color: inherit;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

.navigation {
  background: #fff;
  opacity: 0.95;
  margin-top: 0px !important;
  min-height: 110px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.navigation-fixed {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
.navigation-fixed .t3-mainnav {
  padding-top: 0px;
  padding-bottom: 0;
}
.logo {
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .logo {
    text-align: right;
    border-left: 1px solid #e1e1e1;
  }
}
.logo a {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.logo-image span,
.logo-image small {
  display: none;
}
.logo-img {
  max-width: 169px;
}
.logo-text a {
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
}
.logo-text:hover a,
.logo-text a:hover,
.logo-text a:active,
.logo-text a:focus {
  text-decoration: none;
}
.logo-text .site-slogan {
  display: block;
  font-size: 13px;
  margin-top: 5px;
}
.head-search {
  margin-top: 18px;
}
.head-search:before,
.head-search:after {
  content: " ";
  display: table;
}
.head-search:after {
  clear: both;
}
.head-search form {
  margin: 0;
}
.head-search label {
  display: none;
}
.head-search .search {
  position: relative;
}
.head-search .search:before {
  font-family: "FontAwesome";
  content: "\f002";
  display: block;
  position: absolute;
  right: 10px;
  top: 6px;
  color: #666666;
}
@media screen and (min-width: 768px) {
  .head-search .search {
    float: left;
  }
}
.head-search .form-control {
  width: 100%;
  padding-right: 30px;
}
@media screen and (min-width: 768px) {
  .head-search .form-control {
    width: 150px;
  }
  .head-search .form-control:focus {
    width: 200px;
  }
}
.home-search {
  background-color: #fff;
  border: 1px solid #ebebeb;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 3px 3px #cccccc;
  -moz-box-shadow: 0 3px 3px #cccccc;
  box-shadow: 0 3px 3px #cccccc;
  padding: 24px 10px;
  position: relative;
  top: -60px;
}
.home-search .form-group {
  margin-bottom: 0;
}
.home-search label {
  display: block;
}
.home-search .btn {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.t3-sl {
  background: #fff;
  padding-bottom: 36px;
  padding-top: 0;
}
@media screen and (min-width: 768px) {
  .t3-sl {
    padding-bottom: 54px;
    padding-top: 0;
  }
}
.t3-sl-search {
  padding: 0;
}
.t3-sl-0 {
  padding: 0;
}
.t3-sl-1 {
  padding: 0;
}
.t3-sl-2 {
  padding: 0;
}
.t3-sl-3 {
  padding: 0;
}
.t3-sl-4 {
  padding: 0;
}
.t3-spotlight-1,
.t3-spotlight-2 {
  margin-top: 50px;
}
.t3-sl-3-subpage,
.t3-sl-4-subpage {
  margin-bottom: 20px;
  padding: 0;
  background: transparent;
}
.t3-sl-3-subpage .t3-module,
.t3-sl-4-subpage .t3-module {
  margin-bottom: 0;
}
.t3-mainbody {
  padding-top: 20px;
}
.t3-content {
  padding-top: 18px;
  padding-bottom: 18px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 3px 3px #cccccc;
  -moz-box-shadow: 0 3px 3px #cccccc;
  box-shadow: 0 3px 3px #cccccc;
  margin-bottom: 36px;
}
.call-to-action1,
.call-to-action2,
.call-to-action3,
.call-to-action4 {
  background: #f2f2f2;
  color: #333;
  padding: 50px 0;
  height: 100%;
  text-align: center;
}
.call-to-action1 h2,
.call-to-action2 h2,
.call-to-action3 h2,
.call-to-action4 h2 {
  margin-top: 6px;
  margin-bottom: 30px;
}
.call-to-action4 {
  background: #75c5cf;
  color: #fff;
  padding: 30px 0;
  height: 100%;
  margin-top: 50px;
}
.t3-footer {
  background: #15262f;
  color: #999999;
  font-size: 13px;
}
.t3-footer:before,
.t3-footer:after {
  content: " ";
  display: table;
}
.t3-footer:after {
  clear: both;
}
.t3-footer small {
  display: block;
  font-size: 100%;
}
.t3-footnav {
  padding: 18px 0;
}
.t3-footnav:before,
.t3-footnav:after {
  content: " ";
  display: table;
}
.t3-footnav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .t3-footnav {
    padding: 36px 0;
  }
}
.t3-footnav .t3-module {
  background: #15262f;
  color: #999999;
  margin-top: 9px;
  margin-bottom: 9px;
  border: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.t3-footnav .t3-module .module-title {
  color: #b1b8b8;
  font-size: 14px;
  margin-bottom: 30px;
  text-transform: uppercase;
  background: transparent;
}
.t3-footnav .t3-module .module-ct {
  background: transparent;
}
.t3-footnav .t3-module ul {
  list-style: none;
  margin-right: 0;
  margin-bottom: 0;
  padding-right: 0;
}
.t3-footnav .t3-module ul > li > a {
  padding: 5px 15px;
}
.t3-footnav .t3-module ul > li > a:hover,
.t3-footnav .t3-module ul > li > a:active,
.t3-footnav .t3-module ul > li > a:focus {
  background: transparent;
}
.t3-copyright {
  font-size: 12px;
  background: #12222a;
  padding: 36px 0;
}
.t3-copyright:before,
.t3-copyright:after {
  content: " ";
  display: table;
}
.t3-copyright:after {
  clear: both;
}
.t3-copyright small {
  margin-bottom: 5px;
}
.copyright {
  margin-bottom: 18px;
}
.poweredby:before,
.poweredby:after {
  content: " ";
  display: table;
}
.poweredby:after {
  clear: both;
}
@media screen and (min-width: 991px) {
  .poweredby {
    text-align: left;
  }
}
.poweredby .t3-logo,
.poweredby .t3-logo-small {
  opacity: .8;
  display: inline-block;
}
h3.row-feature-title:before {
  border-top: 2px solid #ccc;
  content: "";
  display: block;
  height: 1px;
  position: relative;
  top: 34px;
  width: 100%;
  z-index: 1;
}
h3.row-feature-title span {
  background: #fff;
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}
.appear {
  opacity: 0;
}
.animated {
  opacity: 1;
}

.vina-camera-slider {
  overflow: hidden;
}
.vina-camera-slider .camera_caption > div {
  background: transparent !important;
  text-align: center;
}
.vina-camera-slider .camera_caption > div h3 {
  font-weight: normal;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.vina-camera-slider .camera_caption > div p {
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.vina-camera-slider .camera_caption > div button {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .home .t3-sl-1 {
    min-height: 202px !important;
  }
  .camera_caption {
    top: 0 !important;
  }
  .vina-camera-slider .camera_caption > div h3 {
    font-size: 36px;
    line-height: 46px;
  }
  .vina-camera-slider .camera_caption > div p {
    display: none;
  }
  .vina-camera-slider .camera_caption > div button {
    margin-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .camera_caption {
    top: 0 !important;
  }
  .vina-camera-slider .camera_caption > div h3 {
    font-size: 44px;
    line-height: 54px;
  }
  .vina-camera-slider .camera_caption > div p {
    font-size: 16px;
    line-height: 26px;
  }
  .vina-camera-slider .camera_caption > div button {
    margin-top: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .camera_caption {
    top: 30px !important;
  }
  .vina-camera-slider .camera_caption > div h3 {
    font-size: 60px;
    line-height: 70px;
  }
  .vina-camera-slider .camera_caption > div p {
    font-size: 16px;
    line-height: 26px;
  }
  .vina-camera-slider .camera_caption > div button {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .vina-camera-slider .camera_caption > div h3 {
    font-size: 80px;
    line-height: 100px;
  }
  .vina-camera-slider .camera_caption > div p {
    font-size: 30px;
    line-height: 40px;
  }
}

#ui-datepicker-div {
  z-index: 99 !important;
}

html.com_jomres .t3-content {
  background: transparent;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ngm-thumb {
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 0 3px 3px #cccccc;
  -moz-box-shadow: 0 3px 3px #cccccc;
  box-shadow: 0 3px 3px #cccccc;
  float: right;
  height: 261px;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.ngm-thumb .mask {
  height: 261px;
  right: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.ngm-thumb a > img {
  border-bottom: 1px solid #ebebeb;
  display: block;
  position: relative;
  width: 100%;
}
.ngm-thumb .main {
  border-bottom: 1px solid #ebebeb;
  height: 55px;
}
.ngm-thumb .main h5 {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px 0 0;
  position: relative;
}
.ngm-thumb .main .price {
  border-color: -moz-use-text-color #ebebeb #ebebeb;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  display: inline;
  float: left;
  font-size: 18px;
  font-weight: bold;
  height: 55px;
  padding: 6px 25px;
  background-color: rgba(90, 186, 198, 0.05);
  color: #75c5cf;
}
.ngm-thumb .main .price span {
  color: #979797;
  display: block;
  font-size: 11px;
  font-weight: normal;
  text-align: center;
}
.ngm-thumb .content {
  padding: 20px;
  position: relative;
  text-align: right;
}
.ngm-thumb .content button {
  margin-top: 5px;
}
.ngm-thumb .content p span {
  display: block;
  font-weight: bold;
}
.ngm-thumb .content i {
  padding-left: 5px;
}
.ngm-thumb img {
  transition: all 0.3s ease-in-out 0s;
}
.ngm-thumb .mask {
  background-color: #fff;
  opacity: 1;
  -webkit-transform: translateY(206px);
  -moz-transform: translateY(206px);
  -o-transform: translateY(206px);
  -ms-transform: translateY(206px);
  transform: translateY(206px);
  transition: all 0.3s ease-in-out 0s;
}
.ngm-thumb:hover .mask {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.ngm-thumb:hover a > img {
  -webkit-transform: translateY(-206px);
  -moz-transform: translateY(-206px);
  -o-transform: translateY(-206px);
  -ms-transform: translateY(-206px);
  transform: translateY(-206px);
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ngm-thumb {
    font-size: 12px;
  }
  .ngm-thumb,
  .ngm-thumb .mask {
    width: 100%;
    height: 261px;
  }
  .ngm-thumb .main .price {
    padding: 10px;
    font-size: 12px;
    border-left: none;
  }
  .ngm-thumb .main,
  .ngm-thumb .main .price {
    height: 55px;
  }
  .ngm-thumb .mask {
    background-color: #fff;
    -webkit-transform: translateY(206px);
    -moz-transform: translateY(206px);
    -o-transform: translateY(206px);
    -ms-transform: translateY(206px);
    transform: translateY(206px);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .ngm-thumb,
  .ngm-thumb .mask {
    width: 100%;
    height: 262px;
  }
  .ngm-thumb .main,
  .ngm-thumb .main .price {
    height: 55px;
  }
  .ngm-thumb .mask {
    background-color: #fff;
    -webkit-transform: translateY(206px);
    -moz-transform: translateY(206px);
    -o-transform: translateY(206px);
    -ms-transform: translateY(206px);
    transform: translateY(206px);
  }
}
@media (max-width: 767px) {
  .ngm-thumb {
    margin-bottom: 50px;
  }
  .ngm-thumb,
  .ngm-thumb .mask {
    width: 100%;
    height: auto;
  }
  .ngm-thumb .mask {
    position: relative;
    background-color: #fff;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  .ngm-thumb:hover .mask {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .ngm-thumb:hover a > img {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .ngm-thumb .main .price {
    border-left: none;
  }
}

img.ui-datepicker-trigger {
  float: left;
  position: relative;
  left: 6px;
  top: -24px;
}

.jomres-propertylist-toolbar {
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 3px 3px #cccccc;
  -moz-box-shadow: 0 3px 3px #cccccc;
  box-shadow: 0 3px 3px #cccccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 15px;
}
.jomres_property_list_propertywrapper .panel {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 3px 3px #cccccc;
  -moz-box-shadow: 0 3px 3px #cccccc;
  box-shadow: 0 3px 3px #cccccc;
}
.jomres_property_list_propertywrapper h2 {
  font-size: 17px;
}
.jomres_property_list_propertywrapper .page-header {
  font-size: 20px;
  margin-bottom: 10px;
}
.jomres_property_list_propertywrapper h2 span {
  font-size: 13px;
  vertical-align: top;
  font-weight: normal;
}
.jomres_property_list_propertywrapper h2 span input[type="checkbox"] {
  margin: 0;
  vertical-align: top;
}
.property-pic-wrapper {
  display: block;
  margin: -15px;
  overflow: hidden;
}
.property-pic-wrapper img {
  width: 100%;
}
.jomres-plist-prices-lg {
  text-align: left;
  min-height: 110px;
}
.jomres-plist-prices-sm {
  text-align: center;
  padding-top: 10px;
}
.jomres-plist-rating {
  padding: 15px 0;
}
.jomres-plist-details-col {
  display: none;
}
.jomres-plist-details {
  margin: 5px 0 0;
  border-bottom: 1px solid #eee;
}
.jomres-plist-details span {
  font-weight: 600;
  float: left;
}
.jomres-plist-prices-lg .big-total-price {
  font-size: 22px;
  color: #75c5cf;
  padding-top: 5px;
}
.jomres-plist-prices-sm .big-total-price {
  color: #75c5cf;
}
.jomres-plist-prices-sm .prices-from {
  line-height: 36px;
}
.average-rating,
.booking-instant,
.booking-onrequest,
.photo-view .compare-overlay {
  color: #fff;
  font-weight: 600;
  right: -5px;
  line-height: 28px;
  max-width: 200px;
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  padding: 0 10px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
.booking-instant {
  top: 0;
  background: none repeat scroll 100% 0 rgba(70, 184, 218, 0.8);
  -webkit-box-shadow: 2px 0 3px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 0 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 0 3px 2px rgba(0, 0, 0, 0.3);
}
.booking-onrequest {
  top: 0;
  background: none repeat scroll 100% 0 rgba(204, 204, 204, 0.8);
  -webkit-box-shadow: 2px 0 3px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 0 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 0 3px 2px rgba(0, 0, 0, 0.3);
}
.average-rating {
  bottom: 0;
  font-size: 16px;
  background: none repeat scroll 100% 0 rgba(252, 178, 0, 0.8);
  -webkit-box-shadow: 2px 0 3px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 0 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 0 3px 2px rgba(0, 0, 0, 0.3);
}
.average-rating,
.booking-instant,
.booking-onrequest,
.compare-overlay,
.jomres-plist-prices-lg {
  z-index: 1;
}

.photo-view .page-header {
  border-bottom: 0 none;
  font-size: 17px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: -5px;
}
.photo-view .jomres-plist-prices-lg {
  color: #fff;
  font-weight: 600;
  left: -5px;
  top: 0;
  right: auto;
  bottom: auto;
  max-width: 200px;
  overflow: hidden;
  position: absolute;
  padding: 5px 10px;
  min-height: unset;
  background: none repeat scroll 100% 0 rgba(51, 51, 51, 0.8);
  -webkit-box-shadow: -2px 0 3px 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -2px 0 3px 2px rgba(0, 0, 0, 0.7);
  box-shadow: -2px 0 3px 2px rgba(0, 0, 0, 0.7);
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  min-height: 60px;
}
.photo-view .jomres-plist-prices-lg .big-price {
  font-size: 14px;
}
.photo-view .jomres-plist-prices-lg .big-total-price {
  font-size: 20px;
  color: #75c5cf;
  padding-top: 5px;
}
.photo-view .compare-overlay {
  bottom: 0;
  top: auto;
  right: auto;
  left: -5px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  line-height: 22px;
  text-transform: none;
  text-shadow: 2px 2px 3px #000000;
}
.photo-view .compare-overlay input {
  vertical-align: top;
}
.photo-view .icons-only .btn {
  font-size: 17px;
  padding: 3px 12px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .jomres-plist-details-wrapper {
    padding-right: 15px;
  }
  .property-pic-wrapper {
    height: 260px;
  }
}
@media (min-width: 1200px) {
  .jomres-plist-details-wrapper {
    padding-right: 15px;
  }
  .property-pic-wrapper {
    height: 220px;
  }
}

#jomres_alternate_menu_position .navbar {
  background: #f2f2f2;
  margin: 0 0 20px;
  min-height: 70px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 3px 3px #cccccc;
  -moz-box-shadow: 0 3px 3px #cccccc;
  box-shadow: 0 3px 3px #cccccc;
}
#jomres_alternate_menu_position .navbar-nav {
  margin: 8px -10px;
}

.property-header h1 {
  font-size: 24px;
  margin-top: 0;
}
#property_details .pdetails-top {
  background: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 3px 3px #cccccc;
  -moz-box-shadow: 0 3px 3px #cccccc;
  box-shadow: 0 3px 3px #cccccc;
  margin-bottom: 20px;
  display: block;
}
#property_details .buttonswrapper {
  padding: 15px;
}
#property_details #galleria {
  border-left: 1px solid #ccc;
}
#property_details .galleria-stage {
  top: 0;
  right: 0;
  left: 0;
}
#property_details .buttonswrapper .btn,
#property_details .pdetails-availability-inline,
#property_details .pdetails-icons,
#property_details .pdetails-reviews {
  margin-bottom: 15px;
}
#property_details .buttonswrapper .btn-lg {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  padding: 14px 16px;
}
#property_details .pdetails-availability-inline {
  padding: 10px 0;
}
#property_details .ui-datepicker-inline {
  width: 100%;
}
#property_details .ui-datepicker td span,
#property_details .ui-datepicker td a {
  padding: 0.4em;
}
#property_details .pdetails-icons {
  border-top: 1px solid #ccc;
}
#property_details .pdetails-btn-icon {
  font-size: 36px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
#property_details .pdetails-reviews {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
#property_details .pdetails-price {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  border: 1px solid #ccc;
  background: #f2f2f2;
  padding: 15px;
}
#property_details .pdetails-price:empty {
  display: none;
}
#property_details .reviews-big {
  font-size: 30px;
  font-weight: bold;
  display: block;
}
#property_details .panel {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 3px 3px #cccccc;
  -moz-box-shadow: 0 3px 3px #cccccc;
  box-shadow: 0 3px 3px #cccccc;
}
#property_details .tabbable {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 3px 3px #cccccc;
  -moz-box-shadow: 0 3px 3px #cccccc;
  box-shadow: 0 3px 3px #cccccc;
}
#property_details .nav-tabs {
  background: #5bc0de;
  border-bottom: 0 none;
}
#property_details .nav-tabs > li > a {
  color: #fff;
  transition: all 0.3s ease 0s;
  border: 0 none;
}
#property_details .nav-tabs > li > a:hover,
#property_details .nav-tabs > li > a:active,
#property_details .nav-tabs > li > a:focus {
  background: #28a1c5;
  color: #fff;
  border: 0 none;
}
#property_details .nav-tabs > li.active > a,
#property_details .nav-tabs > li.active > a:hover,
#property_details .nav-tabs > li.active > a:focus {
  border: 0 none;
  color: #333333;
  background: #fff;
}
#property_details .tab-content > .active {
  background: #fff;
  padding: 15px;
}

#booking_form .panel {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 3px 3px #cccccc;
  -moz-box-shadow: 0 3px 3px #cccccc;
  box-shadow: 0 3px 3px #cccccc;
}
#booking_form #submitbutton .btn-lg {
  font-size: 18px;
  font-weight: 600;
  padding: 14px 16px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
html {
  font-size: 14px;
}
p {
  font-size: 1.1rem;
}

.navbar-default .navbar-brand {
  float: right;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #be9447;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #be9447;
}
.navbar-nav > li > a {
  font-size: 1.15rem;
}
.navbar-default .navbar-nav > li > a {
  color: #444444;
}
.is-sticky .navbar-brand > img {
  width: 120px !important;
}

.vina-camera-slider .camera_caption > div h3 {
  text-shadow: 1px 1px #be9447;
}
.btn-info {
  background: #be9447;
  border: #ffffff;
  color: #ffffff;
}
.btn-info:hover {
  color: #be9447;
  background: #ffffff;
}
.weddings .vina-camera-slider .camera_caption > div {
  position: absolute;
  right: 45%;
  top: 30%;
}

.home-search {
  top: 10px;
}

.skyscanner-widget {
  padding: 10px;
  border-radius: 10px;
}

.booking-instant {
  display: none;
}

#property_details .nav-tabs {
  background: #be9447;
}
.strong-text {
  font-weight: bold;
}
.larger-text {
  font-size: 115%;
}
#extrascontainer {
  display: none;
}

.social .fab {
  font-size: 2rem;
}

@media only screen and (min-width: 1920px) {
  body {
    font-size: 1.3rem;
  }
  .navbar-nav > li > a {
    font-size: 1.4rem;
  }
  .t3-mainbody .container {
    width: 1800px;
  }
  .t3-mainbody .container p {
    font-size: 1.3rem;
  }
  .t3-mainbody .container .property-pic-wrapper {
    height: 320px;
  }
  .btn {
    font-size: 1.3rem;
  }
  .panel-title {
    font-size: 1.3rem;
  }
  input[type="text"],
  input[type="tel"],
  .form-control {
    height: 45px;
    font-size: 1.2rem;
  }
  .form-control {
    height: 45px;
  }
  .breadcrumb {
    font-size: 1.3rem;
  }
}

.home .t3-sl-1 .jumbotron .btn,
.home .t3-sl-5 .jumbotron .btn {
  border-color: #fff;
}
.t3-mainnav {
  border-bottom: none;
}


.off-canvas body > .autocompleter-choices {
  width: 0px;
  left: auto;
}
.article-intro img[align=left],
.article-content img[align=left],
.article-intro .img_caption.left,
.article-content .img_caption.left,
.article-intro .pull-left.item-image,
.article-content .pull-left.item-image {
  margin: 0 27px 18px 0;
}
.article-intro img[align=right],
.article-content img[align=right],
.article-intro .img_caption.right,
.article-content .img_caption.right,
.article-intro .pull-right.item-image,
.article-content .pull-right.item-image {
  margin: 0 0 18px 27px;
}
@media (max-width: 768px) {
  article img[align=left],
  .img_caption.left,
  .pull-left.item-image {
    margin: 0 20px 18px 0;
  }
}
@media (max-width: 768px) {
  article img[align=right],
  .img_caption.right,
  .pull-right.item-image {
    margin: 0 0 18px 20px;
  }
}
.languageswitcherload ul {
  float: left;
}