html {
  font-size: 14px;
}
p {
  font-size: 1.1rem;
}

.navbar-default .navbar-brand {
  float: left;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #be9447;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #be9447;
}
.navbar-nav > li > a {
  font-size: 1.15rem;
}
.navbar-default .navbar-nav > li > a {
  color: #444444;
}
.is-sticky .navbar-brand > img {
  width: 120px !important;
}

.vina-camera-slider .camera_caption > div h3 {
  text-shadow: 1px 1px #be9447;
}
.btn-info {
  background: #be9447;
  border: #ffffff;
  color: #ffffff;
}
.btn-info:hover {
  color: #be9447;
  background: #ffffff;
}
.weddings .vina-camera-slider .camera_caption > div {
  position: absolute;
  left: 45%;
  top: 30%;
}

.home-search {
  top: 10px;
}

.skyscanner-widget {
  padding: 10px;
  border-radius: 10px;
}

.booking-instant {
  display: none;
}

#property_details .nav-tabs {
  background: #be9447;
}
.strong-text {
  font-weight: bold;
}
.larger-text {
  font-size: 115%;
}
#extrascontainer {
  display: none;
}

.social .fab {
  font-size: 2rem;
}

@media only screen and (min-width: 1920px) {
  body {
    font-size: 1.3rem;
  }
  .navbar-nav > li > a {
    font-size: 1.4rem;
  }
  .t3-mainbody .container {
    width: 1800px;
  }
  .t3-mainbody .container p {
    font-size: 1.3rem;
  }
  .t3-mainbody .container .property-pic-wrapper {
    height: 320px;
  }
  .btn {
    font-size: 1.3rem;
  }
  .panel-title {
    font-size: 1.3rem;
  }
  input[type="text"],
  input[type="tel"],
  .form-control {
    height: 45px;
    font-size: 1.2rem;
  }
  .form-control {
    height: 45px;
  }
  .breadcrumb {
    font-size: 1.3rem;
  }
}