<patTemplate:tmpl name="sub_pageoutput" unusedvars="strip">
<div>{COUNTRY_NAME}</div>
<patTemplate:tmpl name="region_rows">
<input type="checkbox" name="regions[]" value="{REGION}" style="vertical-align:bottom;" {CHECKED}/>{REGION}<br/>
</patTemplate:tmpl>
</patTemplate:tmpl>
