<patTemplate:tmpl name="sub_pageoutput" unusedvars="strip">
<div>{REGION_NAME}</div>
<patTemplate:tmpl name="town_rows" >
<input type="checkbox" name="towns[]" value="{TOWN}" style="vertical-align:bottom;" {CHECKED}/>{TOWN}<br/>
</patTemplate:tmpl>
</patTemplate:tmpl>