<patTemplate:tmpl name="header_pageoutput" unusedvars="strip">
<div class="jomres-propertylist-toolbar">
	<div class="row">
		<div class="col-xs-7 col-sm-3 col-md-3 col-lg-3">
			{ORDER_DROPDOWN}
		</div>
		<div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">
			<div class="btn-group">
				<button class="btn btn-default"><i class="fa fa-table"></i> {COMMON_VIEW}</button>
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<patTemplate:tmpl name="layout_rows" type="simpleCondition" requiredVars="title">
						<li><a href="{LINK}">{TITLE}</a></li>
					</patTemplate:tmpl>
				</ul>
			</div>
		</div>
		
		<!-- <patTemplate:tmpl name="budget_output" type="simpleCondition" requiredVars="budget_dropdown">
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 hidden-xs">
			{BUDGET_DROPDOWN}
		</div>
		</patTemplate:tmpl> -->
		
		<patTemplate:tmpl name="compare" type="simpleCondition" requiredVars="_jomres_compare">
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 hidden-xs hidden-sm">
			{COMPARELINK}
			<div class="btn-group">
				<a href="javascript:void(0);" onclick="return trigger_comparison(this);" class="btn btn-default"><i class="fa fa-angle-left"></i> <i class="fa fa-angle-right"></i> {_JOMRES_COMPARE}</a>
			</div>
			<form action=""><input type="hidden" id="comparison_ids" name="ids" value=""/></form>
		</div>
		</patTemplate:tmpl>
		
		<patTemplate:tmpl name="shortlist" type="simpleCondition" requiredVars="_jomres_viewshortlist">
		<div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 hidden-xs">
			<div class="btn-group pull-right">
				<a href="{SHORTLISTLINK}" class="btn btn-default"><i class="fa fa-heart"></i> {_JOMRES_VIEWSHORTLIST}</a>
			</div>
		</div>
		</patTemplate:tmpl>
	</div>
</div>
<div class="clearfix"></div>
</patTemplate:tmpl>