/*** Colors ***/
@basic1: #BE9447;
@white: #fff;
@grey: #444;

html {
    font-size: 14px;
}

p {
    font-size: 1.1rem;
}
// a {
//     color: #BE9447;
//     &:hover {
//         color: #444;
//     }
// }

/****** Header ******/
.navbar-default .navbar-brand {
    float: left;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: @basic1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: @basic1;
}

.navbar-nav > li > a {
    font-size: 1.15rem;
}
.navbar-default .navbar-nav > li > a {
    color: @grey;
}

.navigation-fixed {

}

/*** Slider ***/
.vina-camera-slider .camera_caption > div h3 {
    text-shadow: 1px 1px @basic1;
}
.btn-info {
    background: @basic1;
    border: @white;
    color: @white;
    &:hover {
        color: @basic1;
        background: @white;
    }
}

/*** Skyscanner Widget***/
.skyscanner-widget {
    padding: 10px;
    border-radius: 10px;
}

/*** List Properties***/
.booking-instant {
    display: none;
}

/****** Property details ******/
#property_details .nav-tabs {
    background: @basic1;
}

// .btn-success {
    
// }

/*** Footer ***/
