/*** Colors ***/
@basic1: #BE9447;
@white: #fff;
@grey: #444;

html {
    font-size: 14px;
}

p {
    font-size: 1.1rem;
}
// a {
//     color: #BE9447;
//     &:hover {
//         color: #444;
//     }
// }

/****** Header ******/
.navbar-default .navbar-brand {
    float: left;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: @basic1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: @basic1;
}

.navbar-nav > li > a {
    font-size: 1.15rem;
}
.navbar-default .navbar-nav > li > a {
    color: @grey;
}

.navigation-fixed {

}

/*** Slider ***/
.vina-camera-slider .camera_caption > div h3 {
    text-shadow: 1px 1px @basic1;
}
.btn-info {
    background: @basic1;
    border: @white;
    color: @white;
    &:hover {
        color: @basic1;
        background: @white;
    }
}

/*** Skyscanner Widget***/
.skyscanner-widget {
    padding: 10px;
    border-radius: 10px;
}

/*** List Properties***/
.booking-instant {
    display: none;
}

/****** Property details ******/
#property_details .nav-tabs {
    background: @basic1;
}

.strong-text {
    font-weight: bold;
}
.larger-text {
    font-size: 115%;
}

#extrascontainer {
    display: none;
}

// .btn-success {
    
// }

/*** Footer ***/
.social {
    .fab {
        font-size: 2rem;
    }
}

/****** Media Queries ******/
@media only screen and (min-width: 1920px){
    body {
        font-size: 1.3rem;
    }
    .navbar-nav > li > a {
        font-size: 1.4rem;
    }
    .t3-mainbody {
        .container {
            width: 1800px;
            p {
                font-size: 1.3rem;
            }
            .property-pic-wrapper {
                height: 320px;
            }
        }
    }
    .btn {
        font-size: 1.3rem;
    }
    .panel-title {
        font-size: 1.3rem;
    }
    input[type="text"],input[type="tel"], .form-control {
        height: 45px;
        font-size: 1.2rem;
    }

    .form-control {
        height: 45px;
    }
    .breadcrumb {
        font-size: 1.3rem;
    }
}
