
	<div class="alert alert-danger">https://www.ksdreamtravel.com/bookings?task=edit_property</div>
	<div class="alert alert-danger"></div>
	<div class="alert alert-danger">2019-01-10 09:22:30 94.71.7.123 Message: <strong>Error: Property update intert failed.</strong> </div>
	<div class="alert alert-danger">File: /home/ksdreamt/public_html/jomres/libraries/jomres/classes/jomres_properties.class.php<br/>
	Line: 368</div>
	

	
	<div class="alert alert-warning"></div>
	
	
	<div class="alert alert-danger">Trace: #0 /home/ksdreamt/public_html/jomres/core-minicomponents/j06002save_property.class.php(119): jomres_properties->commit_update_property()<br />
#1 /home/ksdreamt/public_html/jomres/libraries/jomres/classes/mcHandler.class.php(217): j06002save_property->__construct(NULL)<br />
#2 /home/ksdreamt/public_html/jomres/jomres.php(281): mcHandler->specificEvent('06002', 'save_property')<br />
#3 /home/ksdreamt/public_html/components/com_jomres/jomres.php(63): require_once('/home/ksdreamt/...')<br />
#4 /home/ksdreamt/public_html/libraries/src/Component/ComponentHelper.php(402): require_once('/home/ksdreamt/...')<br />
#5 /home/ksdreamt/public_html/libraries/src/Component/ComponentHelper.php(377): Joomla\CMS\Component\ComponentHelper::executeComponent('')<br />
#6 /home/ksdreamt/public_html/libraries/src/Application/SiteApplication.php(194): Joomla\CMS\Component\ComponentHelper::renderComponent('com_jomres')<br />
#7 /home/ksdreamt/public_html/libraries/src/Application/SiteApplication.php(233): Joomla\CMS\Application\SiteApplication->dispatch()<br />
#8 /home/ksdreamt/public_html/libraries/src/Application/CMSApplication.php(196): Joomla\CMS\Application\SiteApplication->doExecute()<br />
#9 /home/ksdreamt/public_html/index.php(49): Joomla\CMS\Application\CMSApplication->execute()<br />
#10 {main}</div>
	
