
	<div class="alert alert-danger">https://www.kokonut.gr/works/ksdream/bookings?task=edit_tariffs_normal</div>
	<div class="alert alert-danger"></div>
	<div class="alert alert-danger">2018-11-05 20:04:02 85.74.135.81 Message: <strong>Error, there are no room types for this property type. You can assign room types to this property type by visiting Administrator -> Jomres -> Site Structure -> and editing the room/resource types.</strong> </div>
	<div class="alert alert-danger">File: /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/core-minicomponents/j06002edit_tariffs_normal.class.php<br/>
	Line: 61</div>
	

	
	<div class="alert alert-warning"></div>
	
	
	<div class="alert alert-danger">Trace: #0 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/libraries/jomres/classes/mcHandler.class.php(217): j06002edit_tariffs_normal->__construct(NULL)<br />
#1 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/jomres.php(281): mcHandler->specificEvent('06002', 'edit_tariffs_no...')<br />
#2 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/components/com_jomres/jomres.php(63): require_once('/var/www/vhosts...')<br />
#3 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/libraries/src/Component/ComponentHelper.php(402): require_once('/var/www/vhosts...')<br />
#4 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/libraries/src/Component/ComponentHelper.php(377): Joomla\CMS\Component\ComponentHelper::executeComponent('/works/ksdream')<br />
#5 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/libraries/src/Application/SiteApplication.php(194): Joomla\CMS\Component\ComponentHelper::renderComponent('com_jomres')<br />
#6 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/libraries/src/Application/SiteApplication.php(233): Joomla\CMS\Application\SiteApplication->dispatch()<br />
#7 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/libraries/src/Application/CMSApplication.php(196): Joomla\CMS\Application\SiteApplication->doExecute()<br />
#8 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/index.php(49): Joomla\CMS\Application\CMSApplication->execute()<br />
#9 {main}</div>
	
