
	<div class="alert alert-danger">https://www.ksdreamtravel.com/index.php?option=com_jomres&#38;Itemid=103&#38;lang=en</div>
	<div class="alert alert-danger"></div>
	<div class="alert alert-danger">2019-01-29 10:22:50 94.71.7.123 Message: <strong>Error: New room insert failed.</strong> </div>
	<div class="alert alert-danger">File: /home/ksdreamt/public_html/jomres/libraries/jomres/classes/jrportal_rooms.class.php<br/>
	Line: 102</div>
	

	
	<div class="alert alert-warning"></div>
	
	
	<div class="alert alert-danger">Trace: #0 /home/ksdreamt/public_html/jomres/core-minicomponents/j06002save_resource.class.php(62): jrportal_rooms->commit_new_room()<br />
#1 /home/ksdreamt/public_html/jomres/libraries/jomres/classes/mcHandler.class.php(217): j06002save_resource->__construct(NULL)<br />
#2 /home/ksdreamt/public_html/jomres/jomres.php(281): mcHandler->specificEvent('06002', 'save_resource')<br />
#3 /home/ksdreamt/public_html/components/com_jomres/jomres.php(63): require_once('/home/ksdreamt/...')<br />
#4 /home/ksdreamt/public_html/libraries/src/Component/ComponentHelper.php(402): require_once('/home/ksdreamt/...')<br />
#5 /home/ksdreamt/public_html/libraries/src/Component/ComponentHelper.php(377): Joomla\CMS\Component\ComponentHelper::executeComponent('')<br />
#6 /home/ksdreamt/public_html/libraries/src/Application/SiteApplication.php(194): Joomla\CMS\Component\ComponentHelper::renderComponent('com_jomres')<br />
#7 /home/ksdreamt/public_html/libraries/src/Application/SiteApplication.php(233): Joomla\CMS\Application\SiteApplication->dispatch()<br />
#8 /home/ksdreamt/public_html/libraries/src/Application/CMSApplication.php(196): Joomla\CMS\Application\SiteApplication->doExecute()<br />
#9 /home/ksdreamt/public_html/index.php(49): Joomla\CMS\Application\CMSApplication->execute()<br />
#10 {main}</div>
	
