
	<div class="alert alert-danger">http://ksdreamtravel.test/index.php?option=com_jomres&#38;Itemid=103&#38;lang=en&#38;task=viewproperty&#38;property_uid=2</div>
	<div class="alert alert-danger"></div>
	<div class="alert alert-danger">2018-09-17 20:01:03 127.0.0.1 Message: <strong>Setting doesn't exist ptype_id</strong> </div>
	<div class="alert alert-danger">File: C:\xampp\htdocs\sites\ksdreamtravel\jomres\libraries\jomres\classes\basic_property_details.class.php<br/>
	Line: 54</div>
	

	
	<div class="alert alert-warning"></div>
	
	
	<div class="alert alert-danger">Trace: #0 C:\xampp\htdocs\sites\ksdreamtravel\jomres\libraries\jomres\classes\basic_property_details.class.php(236): basic_property_details->__get('ptype_id')<br />
#1 C:\xampp\htdocs\sites\ksdreamtravel\jomres\libraries\jomres\functions\functions.php(362): basic_property_details->gather_data(2)<br />
#2 C:\xampp\htdocs\sites\ksdreamtravel\jomres\core-minicomponents\j06000viewproperty.class.php(41): user_can_view_this_property(2)<br />
#3 C:\xampp\htdocs\sites\ksdreamtravel\jomres\libraries\jomres\classes\mcHandler.class.php(217): j06000viewproperty->__construct(NULL)<br />
#4 C:\xampp\htdocs\sites\ksdreamtravel\jomres\jomres.php(277): mcHandler->specificEvent('06000', 'viewproperty')<br />
#5 C:\xampp\htdocs\sites\ksdreamtravel\components\com_jomres\jomres.php(63): require_once('C:\\xampp\\htdocs...')<br />
#6 C:\xampp\htdocs\sites\ksdreamtravel\libraries\src\Component\ComponentHelper.php(382): require_once('C:\\xampp\\htdocs...')<br />
#7 C:\xampp\htdocs\sites\ksdreamtravel\libraries\src\Component\ComponentHelper.php(357): Joomla\CMS\Component\ComponentHelper::executeComponent('')<br />
#8 C:\xampp\htdocs\sites\ksdreamtravel\libraries\src\Application\SiteApplication.php(194): Joomla\CMS\Component\ComponentHelper::renderComponent('com_jomres')<br />
#9 C:\xampp\htdocs\sites\ksdreamtravel\libraries\src\Application\SiteApplication.php(233): Joomla\CMS\Application\SiteApplication->dispatch()<br />
#10 C:\xampp\htdocs\sites\ksdreamtravel\libraries\src\Application\CMSApplication.php(195): Joomla\CMS\Application\SiteApplication->doExecute()<br />
#11 C:\xampp\htdocs\sites\ksdreamtravel\index.php(49): Joomla\CMS\Application\CMSApplication->execute()<br />
#12 {main}</div>
	
