
	<div class="alert alert-danger">http://ksdreamtravel.test/bookings?task=edit_tariffs_normal</div>
	<div class="alert alert-danger"></div>
	<div class="alert alert-danger">2019-02-08 08:35:10 127.0.0.1 Message: <strong>Error, there are no room types for this property type. You can assign room types to this property type by visiting Administrator -> Jomres -> Site Structure -> and editing the room/resource types.</strong> </div>
	<div class="alert alert-danger">File: C:\xampp\htdocs\sites\ksdreamtravel\jomres\core-minicomponents\j06002edit_tariffs_normal.class.php<br/>
	Line: 61</div>
	

	
	<div class="alert alert-warning"></div>
	
	
	<div class="alert alert-danger">Trace: #0 C:\xampp\htdocs\sites\ksdreamtravel\jomres\libraries\jomres\classes\mcHandler.class.php(217): j06002edit_tariffs_normal->__construct(NULL)<br />
#1 C:\xampp\htdocs\sites\ksdreamtravel\jomres\jomres.php(281): mcHandler->specificEvent('06002', 'edit_tariffs_no...')<br />
#2 C:\xampp\htdocs\sites\ksdreamtravel\components\com_jomres\jomres.php(63): require_once('C:\\xampp\\htdocs...')<br />
#3 C:\xampp\htdocs\sites\ksdreamtravel\libraries\src\Component\ComponentHelper.php(402): require_once('C:\\xampp\\htdocs...')<br />
#4 C:\xampp\htdocs\sites\ksdreamtravel\libraries\src\Component\ComponentHelper.php(377): Joomla\CMS\Component\ComponentHelper::executeComponent('')<br />
#5 C:\xampp\htdocs\sites\ksdreamtravel\libraries\src\Application\SiteApplication.php(194): Joomla\CMS\Component\ComponentHelper::renderComponent('com_jomres')<br />
#6 C:\xampp\htdocs\sites\ksdreamtravel\libraries\src\Application\SiteApplication.php(233): Joomla\CMS\Application\SiteApplication->dispatch()<br />
#7 C:\xampp\htdocs\sites\ksdreamtravel\libraries\src\Application\CMSApplication.php(196): Joomla\CMS\Application\SiteApplication->doExecute()<br />
#8 C:\xampp\htdocs\sites\ksdreamtravel\index.php(49): Joomla\CMS\Application\CMSApplication->execute()<br />
#9 {main}</div>
	
