
	<div class="alert alert-danger"></div>
	<div class="alert alert-danger"></div>
	<div class="alert alert-danger">2018-09-26 12:05:19 127.0.0.1 : <strong>Error triggered in patTemplate Invalid closing tag pattemplate:tmpl, : expected in composite_property_details.html in  on line 50</strong> </div>
	<div class="alert alert-danger">: <br/>
	: </div>
	

	
	<div class="alert alert-warning"></div>
	
	
	<div class="alert alert-danger">: </div>
	
