
	<div class="alert alert-danger">https://ksdreamtravel.com/index.php?option=com_jomres&#38;no_html=1&#38;jrajax=1&#38;Itemid=103&#38;lang=en&#38;task=handlereq&#38;property_uid_check=191&#38;field=departureDate&#38;value=20%2F12%2F2018&#38;_=1544832000000</div>
	<div class="alert alert-danger"></div>
	<div class="alert alert-danger">2018-12-18 14:58:32 66.249.79.169 Message: <strong>Error: Property uid not set.</strong> </div>
	<div class="alert alert-danger">File: /home/ksdreamt/public_html/jomres/libraries/jomres/classes/basic_room_details.class.php<br/>
	Line: 31</div>
	

	
	<div class="alert alert-warning"></div>
	
	
	<div class="alert alert-danger">Trace: #0 /home/ksdreamt/public_html/jomres/libraries/jomres/classes/dobooking.class.php(589): basic_room_details->get_all_rooms(0)<br />
#1 /home/ksdreamt/public_html/jomres/libraries/jomres/classes/dobooking.class.php(430): dobooking->getAllRoomsData()<br />
#2 /home/ksdreamt/public_html/jomres/remote_plugins/custom_code/j05000bookingobject.class.php(31): dobooking->__construct()<br />
#3 /home/ksdreamt/public_html/jomres/libraries/jomres/classes/mcHandler.class.php(152): j05000bookingobject->__construct(NULL)<br />
#4 /home/ksdreamt/public_html/jomres/core-minicomponents/j06000handlereq.class.php(68): mcHandler->triggerEvent('05000')<br />
#5 /home/ksdreamt/public_html/jomres/libraries/jomres/classes/mcHandler.class.php(217): j06000handlereq->__construct(NULL)<br />
#6 /home/ksdreamt/public_html/jomres/jomres.php(277): mcHandler->specificEvent('06000', 'handlereq')<br />
#7 /home/ksdreamt/public_html/components/com_jomres/jomres.php(63): require_once('/home/ksdreamt/...')<br />
#8 /home/ksdreamt/public_html/libraries/src/Component/ComponentHelper.php(402): require_once('/home/ksdreamt/...')<br />
#9 /home/ksdreamt/public_html/libraries/src/Component/ComponentHelper.php(377): Joomla\CMS\Component\ComponentHelper::executeComponent('')<br />
#10 /home/ksdreamt/public_html/libraries/src/Application/SiteApplication.php(194): Joomla\CMS\Component\ComponentHelper::renderComponent('com_jomres')<br />
#11 /home/ksdreamt/public_html/libraries/src/Application/SiteApplication.php(233): Joomla\CMS\Application\SiteApplication->dispatch()<br />
#12 /home/ksdreamt/public_html/libraries/src/Application/CMSApplication.php(196): Joomla\CMS\Application\SiteApplication->doExecute()<br />
#13 /home/ksdreamt/public_html/index.php(49): Joomla\CMS\Application\CMSApplication->execute()<br />
#14 {main}</div>
	
