
	<div class="alert alert-danger">https://www.kokonut.gr/works/ksdream/bookings?task=edit_tariff_advanced&#38;tariffUid=466&#38;clone=1</div>
	<div class="alert alert-danger"></div>
	<div class="alert alert-danger">2018-11-16 11:20:22 94.71.7.123 Message: <strong>Error: Could not get tariff details for rate uid.</strong> </div>
	<div class="alert alert-danger">File: /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/libraries/jomres/classes/jrportal_rates.class.php<br/>
	Line: 602</div>
	

	
	<div class="alert alert-warning"></div>
	
	
	<div class="alert alert-danger">Trace: #0 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/libraries/jomres/classes/jrportal_rates.class.php(578): jrportal_rates->create_tarifftype(466)<br />
#1 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/core-plugins/advanced_micromanage_tariff_editing_modes/j06002edit_tariff_advanced.class.php(60): jrportal_rates->get_tarifftype_id(466)<br />
#2 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/libraries/jomres/classes/mcHandler.class.php(217): j06002edit_tariff_advanced->__construct(NULL)<br />
#3 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/jomres.php(281): mcHandler->specificEvent('06002', 'edit_tariff_adv...')<br />
#4 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/components/com_jomres/jomres.php(63): require_once('/var/www/vhosts...')<br />
#5 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/libraries/src/Component/ComponentHelper.php(402): require_once('/var/www/vhosts...')<br />
#6 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/libraries/src/Component/ComponentHelper.php(377): Joomla\CMS\Component\ComponentHelper::executeComponent('/works/ksdream')<br />
#7 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/libraries/src/Application/SiteApplication.php(194): Joomla\CMS\Component\ComponentHelper::renderComponent('com_jomres')<br />
#8 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/libraries/src/Application/SiteApplication.php(233): Joomla\CMS\Application\SiteApplication->dispatch()<br />
#9 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/libraries/src/Application/CMSApplication.php(196): Joomla\CMS\Application\SiteApplication->doExecute()<br />
#10 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/index.php(49): Joomla\CMS\Application\CMSApplication->execute()<br />
#11 {main}</div>
	
