
	<div class="alert alert-danger">https://www.kokonut.gr/works/ksdream/bookings?task=confirmbooking</div>
	<div class="alert alert-danger"></div>
	<div class="alert alert-danger">2018-09-25 19:03:40 85.74.68.15 Message: <strong>Error: Property uid not set.</strong> </div>
	<div class="alert alert-danger">File: /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/libraries/jomres/classes/basic_room_details.class.php<br/>
	Line: 31</div>
	

	
	<div class="alert alert-warning"></div>
	
	
	<div class="alert alert-danger">Trace: #0 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/libraries/jomres/classes/dobooking.class.php(589): basic_room_details->get_all_rooms(0)<br />
#1 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/libraries/jomres/classes/dobooking.class.php(430): dobooking->getAllRoomsData()<br />
#2 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/core-minicomponents/j05000bookingobject.class.php(31): dobooking->__construct()<br />
#3 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/libraries/jomres/classes/mcHandler.class.php(152): j05000bookingobject->__construct(NULL)<br />
#4 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/core-minicomponents/j02990add_tourist_tax.class.php(50): mcHandler->triggerEvent('05000')<br />
#5 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/libraries/jomres/classes/mcHandler.class.php(152): j02990add_tourist_tax->__construct(NULL)<br />
#6 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/core-minicomponents/j06000confirmbooking.class.php(40): mcHandler->triggerEvent('02990')<br />
#7 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/libraries/jomres/classes/mcHandler.class.php(217): j06000confirmbooking->__construct(NULL)<br />
#8 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/jomres/jomres.php(277): mcHandler->specificEvent('06000', 'confirmbooking')<br />
#9 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/components/com_jomres/jomres.php(63): require_once('/var/www/vhosts...')<br />
#10 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/libraries/src/Component/ComponentHelper.php(382): require_once('/var/www/vhosts...')<br />
#11 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/libraries/src/Component/ComponentHelper.php(357): Joomla\CMS\Component\ComponentHelper::executeComponent('/works/ksdream')<br />
#12 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/libraries/src/Application/SiteApplication.php(194): Joomla\CMS\Component\ComponentHelper::renderComponent('com_jomres')<br />
#13 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/libraries/src/Application/SiteApplication.php(233): Joomla\CMS\Application\SiteApplication->dispatch()<br />
#14 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/libraries/src/Application/CMSApplication.php(195): Joomla\CMS\Application\SiteApplication->doExecute()<br />
#15 /var/www/vhosts/syntages-mageirikis.gr/kokonut/works/ksdream/index.php(49): Joomla\CMS\Application\CMSApplication->execute()<br />
#16 {main}</div>
	
